{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore"
}
